/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
    /*neutral colors*/
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    /*primary*/
    --lime-green: hsl(136, 65%, 51%);
    --dark-blue: hsl(233, 26%, 24%);
    --bright-cian: hsl(192, 70%, 51%);

    font-size: 18px;
}
/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Config page*/
body{
    font-size: 1rem;
    font-family: 'Public Sans';

    background: var(--light-grayish-blue);
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*start*/
/*******************Header********************/
.header{
    height: 80px;
    background: var(--white);
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header .nav{
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav .logo{
    width: 170px;
    margin-left: 2%;
}
.fundo_menu{
    display: none;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.4318102240896359) 0%, rgba(0, 0, 0, 0) 100%);
}
/*button hamburguer*/
.header .menu-bars{
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 2%;
    -webkit-tap-highlight-color: transparent;
}
.header .menu-bars .menu__bar{
    width: 40px;
    height: 6px;
    background: var(--dark-blue);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu__bar::before,
.menu__bar::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: var(--dark-blue);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu__bar::before{
    transform: translateY(-16px);
}
.menu__bar::after{
    transform: translateY(16px);
}
/*animation*/
.menu-bars.open .menu__bar{
    background: transparent;
}
.menu-bars.open .menu__bar::before{
    transform: rotate(45deg);
}
.menu-bars.open .menu__bar::after{
    transform: rotate(-45deg);
}
/**********************************/
.header .nav .menu-nav{
    display: flex;
    align-items: center;
    height: 100%;
}
.header .nav .menu-nav li{
    position: relative;
    margin-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
}
.header .nav .menu-nav li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.200rem;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    bottom: 0;
}
.border-gradient-active::after{
    transform: scale(0, 1);
    transition: transform .2s ease;
}
.border-gradient-active:hover::after{
    transform: scale(1, 1);
}
.header .nav .menu-nav li a{
    color: var(--grayish-blue);
    transition: color .2s linear;
}
.header .nav .menu-nav li a:hover{
    color: var(--dark-blue);
}
.request-invite{
    border: none;
    padding: 17px 40px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--white);
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    transition: background 0.2s linear;
    cursor: pointer;
}
.request-invite:hover{
    background: linear-gradient(90deg, rgba(43,183,218,1) 0%, rgba(49,211,92,1) 100%);
}
/****************Main*****************/
.main{
    margin-top: 80px;
    position: relative;
}
.main-container{
    max-width: 1440px;
    margin: 0 auto;
}
.hero{
    display: flex;
    margin-left: 2%;
}
.hero .hero-text{
    min-height: 100vh;
    width: 50%;
    display: flex;
    align-items: right;
    flex-direction: column;
    margin-top: 190px;
}
.hero-text h1{
    font-size: 4rem;
    font-weight: 500;
    color: var(--dark-blue);
    margin-bottom: 45px;
}
.hero-text p{
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--grayish-blue);
    margin-bottom: 45px;
    width: 75%;
}
.hero-text button{
    width: 210px;
}
.hero-img{
    background-image: url(../../img/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position-y: -240px;
    background-position-x: -70px;

    position: absolute;
    top:  0px;
    right: 0px;
}
.hero .bg-phone{
    position: relative;
    top: -110px;
    right: -110px;
    max-width: 100%;
}

/*Media query*/
@media (max-width: 1280px) {
    .main{
        margin-top: 80px;
    }
    .main-container{
        max-width: 100%;
    }
    .hero{
        display: flex;
        flex-direction: column-reverse;
        margin-left: 0;
    }
    .hero .hero-text{
        min-height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 0px;
    }
    .hero-text h1{
        font-size: 2.5rem;
        text-align: center;
    }
    .hero-text p{
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--grayish-blue);
        margin: 0 auto;
        text-align: center;
    }
    .hero-text button{
        width: 220px;
        margin-top: 40px;
        display: block;
    }
    .hero-img{
        background-image: url(../../img/images/bg-intro-desktop.svg);
        background-repeat: no-repeat;
        background-position-y: 110px;
        background-position: bottom;
        background-size: 130%;

        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        position: relative;
        top: -110px;
        right: 0px;
    }
    .hero .bg-phone{
        position: static;
        top: 0px;
        right: 0px;
    }
}
@media (max-width: 1120px) {
    .header .nav .menu-nav{
        display: flex;
        position: absolute;
        flex-direction: column;
        height: 300px;
        width: 90%;
        margin: 0 5%;
        top: -300px;
        background: var(--white);
        border-radius: 10px;
        transition: all .3s linear;
        z-index: 99;
    }
    .header .nav .menu-nav.isOpen{
        top: 90px;
    }
    .header .nav .menu-nav li{
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .header .nav .menu-nav li a{
        padding: 20px 140px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .fundo_menu.menu-ativo{
        display: block;
        z-index: -1;
    }
    .request-invite{
        display: none;
    }
    .header .menu-bars{
        display: flex;
    }
    .hero-img{
        background-image: url(../../img/images/bg-intro-mobile.svg);
        background-repeat: no-repeat;
        background-position-y: 110px;
        background-position-x: 0px;
        background-size: 100%;
    }
}
@media (max-width: 540px){
    .hero-text h1{
        font-size: 2rem;
        text-align: center;
    }
    .hero-text p{
        font-size: 1rem;
        font-weight: 400;
        color: var(--grayish-blue);
        margin: 0 auto;
        text-align: center;
    }
}
@media (max-width: 350px) {
    .hero-text h1{
        font-size: 1.9rem;
        text-align: center;
    }
    .hero-text p{
        font-size: .9rem;
        width: 95%;
        font-weight: 400;
        color: var(--grayish-blue);
        margin: 0 auto;
        text-align: center;
    }
}