:root{
    /*neutral colors*/
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    /*primary*/
    --lime-green: hsl(136, 65%, 51%);
    --dark-blue: hsl(233, 26%, 24%);
    --bright-cian: hsl(192, 70%, 51%);

    font-size: 18px;
}
/*import font*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

/*reset css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Config page*/
body{
    font-size: 1rem;
    font-family: 'Public Sans', sans-serif;

    background: var(--light-grayish-blue);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/*start*/
/*******************Header********************/
.header{
    height: 80px;
    background: var(--white);
}
.header .nav{
    margin: 0 auto;
    height: 100%;
    max-width: 1440px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav .logo{
    width: 170px;
    margin-left: 2%;
}
.fundo_menu{
    display: none;
    position: fixed;
    top: 80px;
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7063200280112045) 0%, rgba(255,255,255,0.7483368347338936) 100%);
}
.fundo_menu.menu-ativo{
    display: block;
    z-index: -1;
}
/*button hamburguer*/
.header .menu-bars{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-right: 2%;
}
.header .menu-bars .menu__bar{
    width: 50px;
    height: 6px;
    background: var(--dark-blue);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu__bar::before,
.menu__bar::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: var(--dark-blue);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu__bar::before{
    transform: translateY(-16px);
}
.menu__bar::after{
    transform: translateY(16px);
}
/*animation*/
.menu-bars.open .menu__bar{
    transform: translateX(-50px);
    background: transparent;
}
.menu-bars.open .menu__bar::before{
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-bars.open .menu__bar::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
/**********************************/
.header .nav .menu-nav{
    display: flex;
    align-items: center;
    height: 100%;
}
.header .nav .menu-nav li{
    position: relative;
    margin-left: 35px;
    height: 100%;
    display: flex;
    align-items: center;
}
.header .nav .menu-nav li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.200rem;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    bottom: 0;
}
.border-gradient-active::after{
    transform: scale(0, 1);
    transition: transform .2s ease;
}
.border-gradient-active:hover::after{
    transform: scale(1, 1);
}
.header .nav .menu-nav li a{
    color: var(--grayish-blue);
    transition: color .2s linear;
}
.header .nav .menu-nav li a:hover{
    color: var(--dark-blue);
}
.header .nav .request-invite{
    border: none;
    padding: 17px 40px;
    font-weight: 700;
    font-size: 1rem;
    color: var(--white);
    border-radius: 25px;
    background: linear-gradient(90deg, rgba(49,211,92,1) 0%, rgba(43,183,218,1) 100%);
    transition: transform 0.2s linear;
    cursor: pointer;
}
.header .nav .request-invite:hover{
    background: linear-gradient(90deg, rgba(43,183,218,1) 0%, rgba(49,211,92,1) 100%);
    transform: scale(1.1);
}
/****************Main*****************/


/*Media query*/
@media (max-width: 1530px) {
    .header .nav{
        margin: 0 auto;
    }
}
@media (max-width: 1120px) {
    .header .nav .menu-nav{
        display: flex;
        position: absolute;
        flex-direction: column;
        height: 300px;
        width: 90%;
        margin: 0 5%;
        top: -300px;
        background: var(--white);
        border-radius: 10px;
        transition: all .3s linear;
        z-index: 99;
    }
    .header .nav .menu-nav.isOpen{
        top: 90px;
    }
    .header .nav .menu-nav li{
        margin: 0;
        width: 100%;
        justify-content: center;
    }
    .request-invite{
        display: none;
    }
    .header .menu-bars{
        display: flex;
    }
}